<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="./assets/css/style.css" />
    <title>Eat-Da-Burger</title>
  </head>

  <body class="bg-light">

    <!--
      Header row
    -->
    <header class="container-fluid">
      <div class="row text-light bg-dark py-1">
        <div class="col text-center">
          <h1>Eat Da Burger!</h1>
        </div>
      </div>
    </header>

    <div class="container mt-3">

      <!--
        Search bar
      -->
      <div class="row">
        <div class="col-12">
          <div class="form-group w-100" style="justify-content: center;">
            <form action="/" method="POST" class="form-inline">
                            <label for="burger" class="sr-only">Name a burger you want to eat: </label>

              <div class="input-group w-100 mb-3">
                <input class="form-control" type="text" name="burger" autocomplete="off" placeholder="What kind of burger would you like to eat?" />
                <div class="input-group-append">
                  <button class="btn btn-primary text-right" type="submit">Add</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!--
        Burger lists
      -->
      <div class="row mt-3">
        {{{ body }}}
      </div>

      <!--
        Footer image
      -->
      <div class="row mt-5">
        <div class="col-12 d-flex justify-content-center">
          <img src="./assets/images/burger.png" />
        </div>
      </div>
    </div>

  	<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" crossorigin="anonymous"></script>

    <script>
      $(".devour").on("click", () => {
        const burgerId = event.target.value;

        $.ajax({
          url: "/devour",
          method: "post",
          data: { burgerId: burgerId }
        }).then(() => {
          location.reload()
        })
      })
    </script>

	</body>

</html>
